<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">

<head>


  <title>FreeBlog</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="<{$res}>/css/html.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="<{$res}>/css/layout.css" media="screen, projection, tv" />
  <link rel="stylesheet" type="text/css" href="<{$res}>/css/print.css" media="print" />

</head>


<body>

<!-- CONTENT: Holds all site content except for the footer.  This is what causes the footer to stick to the bottom -->
<div id="content">



  <!-- HEADER: Holds title, subtitle and header images -->
  <div id="header">

    <div id="title">
      <h1>FreeBlog</h1>
      
    </div>

    <img src="<{$res}>/images/bg/balloons.gif" alt="balloons" class="balloons" />
    <img src="<{$res}>/images/bg/header_left.jpg" alt="left slice" class="left" />
    <img src="<{$res}>/images/bg/header_right.jpg" alt="right slice" class="right" />

  </div>



  <!-- MAIN MENU: Top horizontal menu of the site.  Use class="here" to turn the current page tab on -->
  <div id="mainMenu">
    <ul class="floatRight">
	<li><a href="#" class="here">首页</a><li>
      <{$menu}>
    </ul>
  </div>




  <!-- PAGE CONTENT BEGINS: This is where you would define the columns (number, width and alignment) -->
  <div id="page">
    <!-- 25 percent width column, aligned to the left -->
    <div class="width25 floatLeft leftColumn">

      <h1>Intro</h1>
		
      <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_0}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_1}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_2}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_3}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_4}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_5}>
          </ul>
        </li>
      </ul>

	  <ul class="sideMenu">
        <li class="here">
          <ul>
            <{$left_6}>
          </ul>
        </li>
      </ul>

      
    </div>




    <!-- 75 percent width column, aligned to the right -->
    <div class="width75 floatRight">


      <!-- Gives the gradient block -->
      <{section name="al" loop="$article"}>
	  <div class="gradient">

        <a name="coding"></a>	
        <h2><a href="<{$url}>/content/aid/<{$article[al].aid}>"><{$article[al].article_title}></a></h2>
        <ul>
			<li>作者 <a href="#"><{$article[al].article_author}></a></li>
			<li>发表于<{$article[al].article_time}></li>
			<li><a href="#"><span class="comment">评论数：<{$article[al].review_num}></span></a></li>
		</ul>
		<p>
          <{$article[al].article_content}>
        </p>

        <a name="expressions"><div style="border:1px dashed white"></div></a>
		

      </div>
		<{/section}>
       <div><{$fpage}></div>

    </div>

  </div>

</div>


<!-- FOOTER: Site footer for links, copyright, etc. -->


</body>

</html>